.contactus{
    background-color: #212529;
    padding-bottom: 5em;
    h1,p{
        text-align: center;
        color: #ffffff;
    }
    h1{
        padding-top: 5em;
    }
    .input-text{
        flex-basis: 50%;
    }
    input{
        width: 95%;
        height: 30%;
        margin: .4em;
        border-radius: 10px;
    }
    textarea{
        width: 90%;
        height: 100%;
        border-radius: 10px;
    }

}
.sendmessage{
    background-color: #fed136;
    border: 1px solid #fed136;
    border-radius: 10px;
    margin-left: 43%;
    margin-top: 1em;

    a{
        text-decoration: none;
        color: #ffffff;
        padding: 1em;
        display: block;
    }
}