
*{
    box-sizing: border-box;
}
body,html{
    height: 100%;
    margin: 0;
    font-family: 'Roboto Slab',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}
.container{
    max-width: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
[class*='col']{
    padding: 0 0 1em;
    // border: 1px solid #000;
    flex: 1;
}
.row{
    display: flex;
    flex-wrap: wrap;
    // margin-left: -15px;
    // margin-right: -15px;
}

@for $i from 1 through 12{
    $grid:100%/12*$i;
    .col-#{$i}{
        width: $grid;
        flex-basis: $grid;
    }
}
@each $rps in(
    sm 576px 540px,
    md 768px 720px,
    lg 992px 960px,
    xl 1200px 1140px
){
    @media screen and (min-width: #{nth($rps,2)}){
        .container{
            max-width: #{nth($rps,3)};
        }
            @for $i from 1 through 12{
                $grid:100%/12*$i;
                .col-#{nth($rps,1)}-#{$i}{
                    width: $grid;
                    flex-basis: $grid;
            }
        }
    }
}
